td {
    /* padding: 20px 40px; */
    width: 100px;
    height: 50px;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background: rgb(235, 130, 130);
}

table tr:nth-child(even) {
    background: rgb(122, 212, 241);
}

/* td:hover {
        background: lightgreen !important;
      } */